:root {
  --background-color1: #A04747;
  --background-color2: #D8A25E;
  --background-color3: #343131;
  --background-color4: #605678;
  --background-color5:#384B70;
  --text-color: #EEDF7A;
  --text-color2:#EFE5A7FF;
}


*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-family: "Baskervville", serif;
}

#navbar {
  background-color: var(--background-color1);
  position: fixed;
  top: 0;
  width: 100%;
  height: 6%;
  box-shadow: 0 1px 10px black;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

li {
  list-style: none;
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

ul {
  color: var(--text-color);
  width: 99%;
  height: 6vh;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3rem;
  text-shadow: 0 1px 3px black;
}

#welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color3);
  height: 100%;
  width: 100%;
}

.welcome h1{
  font-size: 7rem;
  color: var(--text-color);
  text-shadow: 0 2px 5px black;

}

.welcome p {
  font-style: italic;
  text-align: center;
  font-size: 4rem;
  color: var(--background-color1);
  text-shadow: 0 2px 5px black;
}

#projects {
  height: 110%;
  padding: 50px 0;
  background-color: var(--background-color5);
}

#projects h2 {
  padding-top: 2rem;
  padding-left: 40px;
  padding-bottom: 10px;
  width: 600px;
  font-size: 4rem;
  margin: 0 auto;
  color: var(--text-color2);
  border-bottom: 0.1rem solid var(--text-color2);
  text-shadow: 0 1px 3px black;
}

.projects-grid {
  margin: 5rem auto;
  width: 60%;
  height: 75%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding: 4rem 10px 0 10px;
}

.project-title {
  text-align: center;
  padding-top: 10px;
  color: var(--text-color2);
  font-size: 2.1rem;
  text-shadow: 0 2px 3px black;
}

.box {
  margin-bottom: 20px;
  padding: 5px 5px 10px 5px;
  background-color: var(--background-color3);
  width: 420px;
  height: 280px;
  box-shadow: 0 3px 5px black;
}

.box:hover {
  transform: scale(1.1);
  transition: transform .4s;
}


#contact {
  background-color: var(--background-color3);
  width: 40%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  gap: 20px;
}

.contact-text  {
  font-size: 5rem;
  color: var(--text-color);
  text-shadow: 0 1px 3px black;
  padding-bottom: 50px;
}

.contact-box {
  background-color: var(--background-color3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
}

footer {
  background-color: var(--background-color3);
  height: 5rem;
}

hr {
  background-color: #A04747;
  border-color: #A04747;
  height: 2px;
}

footer p {
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-top: 20px;
  margin-right: 2rem;
}

.copyright {
  font-size: 1.5rem;
  color: var(--text-color);
  text-shadow: 0 1px 3px black;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}

@media (max-width: 1441px) {
  .projects-grid {
    width: 100%;
    padding-top: 80px;
    position: relative;
    top: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .box {
    width: 330px;
    height: 290px;
  }

  .projects-grid img{
    height: 240px;
    width: 320px;
  }

  #contact {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    width: 100%;
    height: 20rem;
  }

  #contact a {
    font-size: 1.7rem;
  }

  .contact-text  {
    font-size: 4rem;
  }
}

@media (max-width: 1025px) {
  #navbar {
    z-index: 1;
  }

  li {
    font-size: 1.8rem;
  }

  .welcome h1 {
    font-size: 4rem;
  }

  .welcome p {
    font-size: 3rem;
    text-align: end;
  }

  #projects h2 {
    width: 50%;
    padding: 0;
    text-align: center;
    font-size: 2.6rem;
  }

  .projects-grid {
    width: 100%;
    padding-top: 80px;
    position: relative;
    top: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .box {
    margin-bottom: 10px;
    width: 330px;
    height: 280px;
  }

  .projects-grid img{
    height: 240px;
    width: 320px;
  }

  .project-title {
    text-align: center;
    font-size: 1.3rem;
  }

  #contact {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    width: 100%;
    height: 20rem;
  }

  #contact a {
    font-size: 1.5rem;
  }

  .contact-text  {
    font-size: 3.5rem;
  }

}

@media (max-width: 769px) {
  #navbar {
    display: flex;
    justify-content: end;
    z-index: 1;
  }

  ul {
    width: 35%;
  }

  li{
    font-size: 1.6rem;
  }

  .welcome h1 {
    width: 100%;
    text-align: center;
    font-size: 3.5rem;
  }

  .welcome p {
    text-align: end;
    font-size: 2.5rem;
  }

  #projects h2 {
    width: 40%;
    padding: 0;
    text-align: center;
    font-size: 2.2rem;
  }

  .projects-grid {
    width: 100%;
    padding-top: 80px;
    position: relative;
    top: 0;
    margin: 0;
    gap: 0.8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .box {
    margin-bottom: 10px;
    width: 220px;
    height: 220px;
  }

  .projects-grid img{
    height: 180px;
    width: 210px;
  }

  .project-title {
    text-align: center;
    font-size: 1.2rem;
  }

  .box:hover {
    transform: scale(1);
  }
  #contact {
    display: flex;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    width: 100%;
    height: 20rem;

  }

  #contact a {
    font-size: 1.5rem;
  }

  .contact-text  {
    font-size: 3rem;
  }

  .contact-box {
    width: 100%;
    height: 100%;
  }

  .copyright {
    font-size: 1.1rem;
  }

}

@media (max-width: 426px) {
  #navbar {
    display: flex;
    z-index: 1;
  }

  ul {
    width: 60%;
  }

  li {
    font-size: 1.3rem;
  }

  .welcome h1 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
  }

  .welcome p {
    text-align: end;
    font-size: 2rem;
  }

  #projects h2 {
    width: 70%;
    padding: 0;
    text-align: center;
    font-size: 1.7rem;
  }

  .projects-grid {
    padding-top: 80px;
    position: relative;
    top: 0;
    margin: 0;
    gap: 0.8rem;
    width: 43rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .box {
    margin-bottom: 10px;
    width: 170px;
    height: 180px;
  }

  .projects-grid img{
    height: 140px;
    width: 160px;
  }

  .project-title {
    text-align: center;
    font-size: 1rem;
  }

  .box:hover {
    transform: scale(1);
  }
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    width: 10rem;
    height: 20rem;

  }

  #contact a {
    font-size: 1.2rem;
  }

  .contact-text  {
    font-size: 2rem;
  }

  .contact-box {
    width: 100%;
    height: 100%;
  }

  .copyright {
    font-size: 1rem;
  }
}

@media (max-width: 376px) {
  #navbar {
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  ul {
    width: 100%;
  }

  li{
    font-size: 1.4rem;
    margin: 0 auto;
  }
  .welcome h1 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
  }

  .welcome p {
    text-align: end;
    font-size: 2rem;
  }

  #projects h2 {
    width: 70%;
    padding: 0;
    text-align: center;
    font-size: 1.7rem;
  }

  .projects-grid {
    padding-top: 80px;
    position: relative;
    top: 0;
    margin: 0;
    gap: 0.8rem;
    width: 38rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .box {
    margin-bottom: 10px;
    width: 160px;
    height: 170px;
  }

  .projects-grid img{
    height: 130px;
    width: 150px;
  }

  .project-title {
    text-align: center;
    font-size: 1rem;
  }

  .box:hover {
    transform: scale(1);
  }
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    width: 10rem;
    height: 20rem;
  }

  #contact a {
    font-size: 1.2rem;
  }

  .contact-text  {
    font-size: 2rem;
  }

  .contact-box {
    width: 100%;
    height: 100%;
  }

  .copyright {
    font-size: 1rem;
  }
}

@media (max-width: 321px) {
  #navbar {
    display: flex;
    justify-content: center;
    z-index: 1;
  }

  ul {
    width: 100%;
  }

  #welcome-section,
  #projects,
  .contact-box,
  footer {
    width: 100%;
  }

  li {
  font-size: 1.4rem;
  margin: 0 auto;
}

  .welcome h1 {
    width: 100%;
    text-align: center;
    font-size: 3rem;
  }

  .welcome p {
    text-align: end;
    font-size: 2rem;
  }

  #projects h2 {
    width: 70%;
    padding: 0;
    text-align: center;
    font-size: 1.7rem;
  }

  .projects-grid {
    padding-top: 80px;
    position: relative;
    top: 0;
    left: 0.8rem;
    margin: 0;
    gap: 0.8rem;
    width: 30rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .box {
    margin-bottom: 10px;
    width: 140px;
    height: 140px;
  }

.projects-grid img{
  height: 100px;
  width: 130px;
}

  .project-title {
    text-align: center;
    font-size: 1rem;
  }

  .box:hover {
    transform: scale(1);
  }
  #contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 0 auto;
    width: 10rem;
    height: 20rem;

  }

  #contact a {
    font-size: 1.2rem;
  }

  .contact-text {
    font-size: 2rem;
  }

  .contact-box {
    width: 100%;
    height: 100%;
  }

 .copyright {
    font-size: 1rem;
  }
}


