:root {
  --background-color1: #A04747;
  --background-color2: #D8A25E;
  --background-color3: #343131;
  --background-color4: #605678;
  --background-color5:#384B70;
  --text-color: #EEDF7A;
  --text-color2:#EFE5A7FF;
}


*, ::before, ::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-family: "Baskervville", serif;
}


#navbar {
  background-color: var(--background-color1);
  position: fixed;
  top: 0;
  width: 100%;
  height: 6%;
  box-shadow: 0 1px 10px black;
}

a{
  text-decoration: none;
  color: var(--text-color);
}

li {
  list-style: none;
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

ul {
  color: var(--text-color);
  width: 99%;
  height: 6vh;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 3rem;
  text-shadow: 0 1px 3px black;
}

#welcome-section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color3);
  height: 100%;
  width: 100%;
}

.welcome h1{
  font-size: 7rem;
  color: var(--text-color);
  text-shadow: 0 2px 5px black;

}

.welcome p {
  font-style: italic;
  text-align: center;
  font-size: 4rem;
  color: var(--background-color1);
  text-shadow: 0 2px 5px black;
}

#projects {
  height: 100%;
  background-color: var(--background-color5);
}

#projects h2 {
  padding-top: 4rem;
  padding-left: 40px;
  padding-bottom: 10px;
  width: 600px;
  font-size: 4rem;
  margin: 0 auto;
  color: var(--text-color2);
  border-bottom: 0.1rem groove var(--text-color2);
  text-shadow: 0 1px 3px black;
}

.projects-grid {
  margin: 5rem auto;
  width: 60%;
  height: 75%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  padding: 4rem 10px 0 10px;
}


.project-title {
  text-align: center;
  padding-top: 10px;
  color: var(--text-color2);
  font-size: 2.1rem;
  text-shadow: 0 2px 3px black;
}

.box {
  margin-bottom: 20px;
  padding: 5px 5px 10px 5px;
  background-color: var(--background-color3);
  width: 420px;
  height: 280px;
  box-shadow: 0 3px 5px black;
}

.box:hover {
  transform: scale(1.1);
  transition: transform .4s;
}


#contact {
  background-color: var(--background-color3);
  width: 40%;
  height: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  gap: 20px;
}

.contact-text  {
  font-size: 5rem;
  color: var(--text-color);
  text-shadow: 0 1px 3px black;
  padding-bottom: 50px;
}

.contact-box {
  background-color: var(--background-color3);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 100%;
}

footer {
  background-color: var(--background-color3);
  height: 10%;
}

hr {
  background-color: #A04747;
  border-color: #A04747;
  height: 5px;
}

footer p {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
}

.copyright {
  font-size: 1.5rem;
  color: var(--text-color);
  text-shadow: 0 1px 3px black;
}

@media (prefers-reduced-motion: no-preference) {
  * {
    scroll-behavior: smooth;
  }
}


